/* CSS 리셋 */
@import './reset.css';
:root {
    /* color */
    --black-100: #000;
    --black-200: #888;
    --white-100: #fff;
    --white-200: #ccc;
    --accent-100: #00668c;
    --accent-200: #71c4ef;
    --accent-300: #d4eaf7;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Media query --- mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}
/* Media query --- tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}
